<a href="https://colab.research.google.com/github/neysertg/Big-Data/blob/main/ProyBigData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Se instala la librería de Spark en el entorno de colab
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=b961c30bd447240f02a5aebd8371878c749c395de8f5b09cb74eee75f5b90ee6
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
#especializada en el manejo y análisis de estructuras de datos
#Para trabajar en entorno de python y hacer la manipulación de datos
import pandas as pd

#Se importa la clase "SparkSession" de la biblioteca pyspark,sql que permitirá interactuar con Apche Spark
# y se podrá hacer consultas SQL y creación de df
from pyspark.sql import SparkSession

#Para importar todas las funciones de pyspark
from pyspark.sql.functions import*

#conversión de una fecha a mes, año, día, etcetecete
from pyspark.sql.functions import year, month, to_date

#un autoincremente un a funcióin
from pyspark.sql.functions import monotonically_increasing_id

#convertir tipo de datos
from pyspark.sql.types import IntegerType

In [ ]:
nombre = SparkSession.builder.appName("proyecto_bigdata2.0").getOrCreate()

In [ ]:
#conectarse a google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
Excel = "/content/drive/MyDrive/Proyecto-Big-Data/BIGDATA.xlsx"

In [ ]:
# Sube el archivo Excel a Google Colab y luego carga los datos en un DataFrame
#proy = nombre.read.format("csv").option("header", "true").load("drive/MyDrive/Proyecto-Big-Data/BIGDATA.csv")

In [ ]:
#utilizamos la libreía de pandas
df_pandas = pd.read_excel(Excel)

In [ ]:
#nombre = spark
proy = nombre.createDataFrame(df_pandas)

In [ ]:
proy.show(5)

+----------+--------------------+-----------+------------------+-----------+-----------+----------------+----------+----------------+-----------+-------------+-----------+----------------+--------------+-----------+----------------+--------+-----+-----+----+----------------------+
|ProductoID|      NombreProducto|IDCategoria|         Categoria|IDProveedor|  Proveedor|FechaFabricacion|FechaVenta|FechaVencimiento|PrecioVenta|CantidadStock|NumeroSerie|CantidadVendidad|PesoProductokg|Iddimension|UbicacionAlmacen|    pais|Largo|Ancho|Alto|ComentariosAdicionales|
+----------+--------------------+-----------+------------------+-----------+-----------+----------------+----------+----------------+-----------+-------------+-----------+----------------+--------------+-----------+----------------+--------+-----+-----+----+----------------------+
|     20051|       Queso fundido|       5222|Lácteos procesados|       5555|     Nestlé|         01-2020|   03-2020|         01-2023|      97.58|           44|       2919|              18|            34|       7090|       San borja|    Perú|   28|   54|  70|                   NaN|
|     20051|       Queso fundido|       5222|Lácteos procesados|       5555|     Nestlé|         01-2020|   03-2020|         01-2023|      97.58|           76|       2689|              35|            48|       8455|        Boquerón|Paraguay|   54|   62|  37|                   NaN|
|     20051|       Queso fundido|       3222|Lácteos procesados|       3555|Kraft Heinz|         01-2020|   03-2020|         01-2023|      31.68|           28|       2493|              61|            41|       9884|       Las Tunas|    CUBA|   38|   43|  60|                   NaN|
|     20451|Quesos de mediana...|       3222|Lácteos procesados|       4555|   Lactalis|         01-2020|   03-2020|         01-2023|      71.39|           49|       3358|              63|            34|       8466|       Paraguarí|Paraguay|   70|   80|  68|                   NaN|
|     21151|Quesos de mediana...|       6222|Lácteos procesados|       6555|     Saputo|         01-2020|   03-2020|         01-2023|      53.61|           84|       1391|              76|            69|       8461|          Guairá|Paraguay|   86|   52|  82|                   NaN|
+----------+--------------------+-----------+------------------+-----------+-----------+----------------+----------+----------------+-----------+-------------+-----------+----------------+--------------+-----------+----------------+--------+-----+-----+----+----------------------+
only showing top 5 rows

In [ ]:
#se agrega un delimitador por si se la data del csv no está en columnnas
#proy = nombre.read.format("csv").option("header", "true").option("delimiter",";").load("drive/MyDrive/Proyecto-Big-Data/BIGDATA.csv")

In [ ]:
#proy.show(5)

In [ ]:
proy.printSchema()

root
 |-- ProductoID: long (nullable = true)
 |-- NombreProducto: string (nullable = true)
 |-- IDCategoria: long (nullable = true)
 |-- Categoria: string (nullable = true)
 |-- IDProveedor: long (nullable = true)
 |-- Proveedor: string (nullable = true)
 |-- FechaFabricacion: string (nullable = true)
 |-- FechaVenta: string (nullable = true)
 |-- FechaVencimiento: string (nullable = true)
 |-- PrecioVenta: double (nullable = true)
 |-- CantidadStock: long (nullable = true)
 |-- NumeroSerie: long (nullable = true)
 |-- CantidadVendidad: long (nullable = true)
 |-- PesoProductokg: long (nullable = true)
 |-- Iddimension: long (nullable = true)
 |-- UbicacionAlmacen: string (nullable = true)
 |-- pais: string (nullable = true)
 |-- Largo: long (nullable = true)
 |-- Ancho: long (nullable = true)
 |-- Alto: long (nullable = true)
 |-- ComentariosAdicionales: double (nullable = true)

In [ ]:
proy = proy.withColumn("ProductoID", col("ProductoID").cast("integer"))\
            .withColumn("IDCategoria", col("IDCategoria").cast("integer"))\
            .withColumn("IDProveedor", col("IDProveedor").cast("integer"))\
            .withColumn("CantidadStock", col("CantidadStock").cast("integer"))\
            .withColumn("CantidadVendidad", col("CantidadVendidad").cast("integer"))\
            .withColumn("PesoProductokg", col("PesoProductokg").cast("integer"))\
            .withColumn("Iddimension", col("Iddimension").cast("integer"))\
            .withColumn("Largo", col("Largo").cast("integer"))\
            .withColumn("Ancho", col("Ancho").cast("integer"))\
            .withColumn("Alto", col("Alto").cast("integer"))

In [ ]:
proy.printSchema()

root
 |-- ProductoID: integer (nullable = true)
 |-- NombreProducto: string (nullable = true)
 |-- IDCategoria: integer (nullable = true)
 |-- Categoria: string (nullable = true)
 |-- IDProveedor: integer (nullable = true)
 |-- Proveedor: string (nullable = true)
 |-- FechaFabricacion: string (nullable = true)
 |-- FechaVenta: string (nullable = true)
 |-- FechaVencimiento: string (nullable = true)
 |-- PrecioVenta: double (nullable = true)
 |-- CantidadStock: integer (nullable = true)
 |-- NumeroSerie: long (nullable = true)
 |-- CantidadVendidad: integer (nullable = true)
 |-- PesoProductokg: integer (nullable = true)
 |-- Iddimension: integer (nullable = true)
 |-- UbicacionAlmacen: string (nullable = true)
 |-- pais: string (nullable = true)
 |-- Largo: integer (nullable = true)
 |-- Ancho: integer (nullable = true)
 |-- Alto: integer (nullable = true)
 |-- ComentariosAdicionales: double (nullable = true)

In [ ]:
#SE VA A DIVIDIR NUESTRAS TABLAS A DIMENSIONES
#Creamos la tabla DIM_PRODUCTOS
dim_producto = proy.select(col("ProductoID"), col("NombreProducto")).distinct()
#dim_producto = proy.select(col("ProductoID"), col("NombreProducto"),col("IDCategoria"), col("IDProveedor"),col("PesoProductoKg"), col("IDalmacen")).distinct()
dim_producto.show()

+----------+--------------------+
|ProductoID|      NombreProducto|
+----------+--------------------+
|     20451|Quesos de mediana...|
|     22211|Leche en polvo en...|
|     22222|      Dulce de leche|
|     92260|          Caseinatos|
|     29951|Quesos de baja hu...|
|     22241|             Manteca|
|     22212|Leche en polvo de...|
|     22290|Postres lacteos y...|
|     22130|               Suero|
|     21151|Quesos de mediana...|
|     22251|Quesos de alta hu...|
|     20051|       Queso fundido|
|     22022|    Leche condensada|
|     22260|             Caseina|
|     22120|               Crema|
|     22230|               Yogur|
+----------+--------------------+

In [ ]:
#DIM CATEGORIOA
dim_categoria = proy.select(col("IDCategoria"), col("Categoria")).distinct()
dim_categoria.show()

+-----------+--------------------+
|IDCategoria|           Categoria|
+-----------+--------------------+
|       5222|  Lácteos procesados|
|       5444|Ingredientes lácteos|
|       5333|   Lácteos envasados|
|       3333|   Lácteos envasados|
|       6222|  Lácteos procesados|
|       6444|Ingredientes lácteos|
|       6333|   Lácteos envasados|
|       2222|  Lácteos procesados|
|       2444|Ingredientes lácteos|
|       3222|  Lácteos procesados|
|       4444|Ingredientes lácteos|
|       3444|Ingredientes lácteos|
|       2333|   Lácteos envasados|
+-----------+--------------------+

In [ ]:
#DIM_PROVEEDOR
dim_proveedor = proy.select(col("IDProveedor"),col("Proveedor")).distinct()
dim_proveedor.show()

+-----------+-----------+
|IDProveedor|  Proveedor|
+-----------+-----------+
|       3555|Kraft Heinz|
|       6555|     Saputo|
|       5555|     Nestlé|
|       4555|   Lactalis|
|       2555|     Danone|
+-----------+-----------+

In [ ]:
#DIM-DIMENSIONES de almacen, debería ser DIM_ALMACEN
dim_dimensiones = proy.select(col("Iddimension"), col("Largo"),col("Ancho"),col("Alto"),col("UbicacionAlmacen"),col("pais")).distinct()
dim_dimensiones.show()

+-----------+-----+-----+----+--------------------+---------+
|Iddimension|Largo|Ancho|Alto|    UbicacionAlmacen|     pais|
+-----------+-----+-----+----+--------------------+---------+
|       7013|   78|   76|  40|            Misiones|Argentina|
|       9877|   54|   71|  47|San José de las L...|     CUBA|
|       7546|   67|   24|  42|               Tunja| Colombia|
|       7066|   53|   82|  31|     Cercado de Lima|     Perú|
|       7559|   64|   41|  47|         Santa Marta| Colombia|
|       7098|   89|   54|  47| Santa María del Mar|     Perú|
|       7550|   73|   79|  61|             Popayán| Colombia|
|       7099|   53|   82|  31|          Santa Rosa|     Perú|
|       8467|   76|   54|  55|    Presidente Hayes| Paraguay|
|       7077|   35|   40|  23|          Los olivos|     Perú|
|       7549|   85|   77|  63|               Yopal| Colombia|
|       7556|   42|   23|  45|San José del Guav...| Colombia|
|       7067|   24|   27|  28|          Chaclacayo|     Perú|
|       7011|   84|   71|  32|            La Rioja|Argentina|
|       9887|   75|   89|  38|    Santiago de Cuba|     CUBA|
|       7543|   64|   38|  83|              Arauca| Colombia|
|       7569|   75|   21|  22|      Puerto Carreño| Colombia|
|       9881|   79|   44|  85|     Sancti Spíritus|     CUBA|
|       9888|   66|   73|  61|          Guantánamo|     CUBA|
|       7009|   72|   56|  33|               Jujuy|Argentina|
+-----------+-----+-----+----+--------------------+---------+
only showing top 20 rows

In [ ]:
# Convertir el formato a un formato reconocido por Spark
#conv = proy.withColumn("FechaVenta", to_date(proy["FechaVenta"], "MMM-yy"))

In [ ]:
#Separar po Mes y aÑOA
#fec = conv.withColumn("anio", year("FechaVenta"))
#fec.show()

In [ ]:
# Convierte las columnas de string a tipo ""date""" para selceionar mes, anño, etrccec
fechas_todas = ["FechaVenta", "FechaFabricacion", "FechaVencimiento"]
for col_name in fechas_todas:
    proy = proy.withColumn(col_name, to_date(proy[col_name], "MM-yyyy"))

In [ ]:
 #DIM_TIEMPO
 #la función concat_ws es para concatenar y lpad es para que sea de dos dpigitos
dim_tiempo = proy.select(
     concat_ws("", year("FechaVenta"), lpad(month("FechaVenta"), 2, "0")).alias("IDFecha").cast("integer"),
    col("FechaVenta").alias("Fecha"), month(col("FechaVenta")).alias("Mes"), year(col("FechaVenta")).alias("Anio")).distinct()
dim_tiempo.show(5)

+-------+----------+---+----+
|IDFecha|     Fecha|Mes|Anio|
+-------+----------+---+----+
| 202005|2020-05-01|  5|2020|
| 202006|2020-06-01|  6|2020|
| 202104|2021-04-01|  4|2021|
| 202103|2021-03-01|  3|2021|
| 202106|2021-06-01|  6|2021|
+-------+----------+---+----+
only showing top 5 rows

In [ ]:
#Separar en Mes y Año
#FecVenta= proy.withColumn("MesVenta", substring(col("FechaVenta"), 1, 2)) \
            # .withColumn("AnioVenta", substring(col("FechaVenta"), 4, 4))

#FecVenta.show(5)

In [ ]:
#FACT TABLE
fac_table = proy.withColumn("VentaID",monotonically_increasing_id()+1) \
                .select(col("VentaID"),col("ProductoID"), col("IDCategoria"), col("IDProveedor"),
                col("Iddimension"), concat_ws("",year("FechaVenta"), lpad(month("FechaVenta"),2,"0")).alias("IDFecha"), col("PrecioVenta"), col("CantidadVendidad"), col("CantidadStock"))\
                .distinct() \
                .orderBy("VentaID")
fac_table.show()
#nombre.stop()

+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
|VentaID|ProductoID|IDCategoria|IDProveedor|Iddimension|IDFecha|PrecioVenta|CantidadVendidad|CantidadStock|
+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
|      1|     20051|       5222|       5555|       7090| 202003|      97.58|              18|           44|
|      2|     20051|       5222|       5555|       8455| 202003|      97.58|              35|           76|
|      3|     20051|       3222|       3555|       9884| 202003|      31.68|              61|           28|
|      4|     20451|       3222|       4555|       8466| 202003|      71.39|              63|           49|
|      5|     21151|       6222|       6555|       8461| 202003|      53.61|              76|           84|
|      6|     21151|       2222|       2555|       9883| 202003|      35.72|              67|           40|
|      7|     22022|       2333|       2555|       7068| 202003|      19.66|              18|           83|
|      8|     22022|       3333|       4555|       7080| 202003|       33.7|              49|           26|
|      9|     22120|       3222|       4555|       7079| 202003|      85.25|              31|           15|
|     10|     22120|       5222|       5555|       7548| 202003|      27.68|              65|           79|
|     11|     22120|       3222|       3555|       9885| 202003|      18.38|              68|           77|
|     12|     22130|       6444|       6555|       7096| 202003|      13.26|              66|           31|
|     13|     22130|       4444|       4555|       9881| 202003|      21.35|              76|           81|
|     14|     22211|       5333|       5555|       7061| 202003|      55.64|              31|           27|
|     15|     22211|       6333|       6555|       7095| 202003|      30.79|              68|           50|
|     16|     22212|       5333|       5555|       7080| 202003|      74.27|              20|           12|
|     17|     22212|       2333|       2555|       7555| 202003|      17.76|              48|           69|
|     18|     22212|       3333|       4555|       9879| 202003|      28.49|              49|           53|
|     19|     22222|       3333|       3555|       7015| 202003|      20.26|              32|           53|
|     20|     22222|       3333|       3555|       7005| 202003|      20.26|              19|           76|
+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
only showing top 20 rows

In [ ]:
fact_table = fac_table.join(dim_producto, "ProductoID", "inner") \
    .join(dim_proveedor, "IDProveedor", "inner") \
    .join(dim_categoria, "IDCategoria", "inner") \
    .join(dim_dimensiones, "Iddimension", "inner") \
    .join(dim_tiempo, "IDFecha", "inner")

In [ ]:
fact_table = fac_table.dropDuplicates()

In [ ]:
fact_table.show(10)

+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
|VentaID|ProductoID|IDCategoria|IDProveedor|Iddimension|IDFecha|PrecioVenta|CantidadVendidad|CantidadStock|
+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
|     58|     22212|       5333|       5555|       7096| 202103|      74.27|              15|           19|
|    209|     22260|       2444|       2555|       8458| 202004|       17.0|              22|           66|
|    441|     22211|       3333|       3555|       8452| 202105|      35.74|              56|           80|
|    616|     22230|       3333|       3555|       8452| 202305|      20.86|              48|           72|
|    771|     22290|       6333|       6555|       7080| 202106|      41.88|              60|           62|
|   1008|     29951|       6222|       6555|       7001| 202007|      41.24|              67|           22|
|    779|     22290|       3333|       4555|       9875| 202106|      36.24|              53|           65|
|    787|     92260|       2444|       2555|       7083| 202106|       16.0|              13|           11|
|    970|     22212|       3333|       4555|       7554| 202007|      28.49|              26|           40|
|    978|     22222|       2333|       2555|       9880| 202007|      26.32|              16|           31|
+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
only showing top 10 rows

In [ ]:
#Utilizamos la función enableHiveSupport() que nos permite btrabajar en el entorno HIVE
nombreHive = SparkSession.builder.appName("DIMENSIONES-HIVE").enableHiveSupport().getOrCreate()

In [ ]:

#se verifica si ya hay tablas en el entorno HIVEE
nombreHive.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [ ]:
#creamos la base de datos para almacenar nuestras dim
nombreHive.sql("DROP DATABASE IF EXISTS dimensiones CASCADE;")
nombreHive.sql("create database dimensiones")

DataFrame[]

In [ ]:
## GUARDAMOS EN LA BASE CARGADA LAS DIMENSIONMES
dim_producto.write.saveAsTable("dimensiones.dim_producto")
dim_categoria.write.saveAsTable("dimensiones.dim_categoria")
dim_proveedor.write.saveAsTable("dimensiones.dim_proveedor")
dim_dimensiones.write.saveAsTable("dimensiones.dim_dimensiones")
fact_table.write.saveAsTable("dimensiones.fact_table")
dim_tiempo.write.saveAsTable("dimensiones.dim_tiempo")

In [ ]:
fact_table.show()

+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
|VentaID|ProductoID|IDCategoria|IDProveedor|Iddimension|IDFecha|PrecioVenta|CantidadVendidad|CantidadStock|
+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
|     58|     22212|       5333|       5555|       7096| 202103|      74.27|              15|           19|
|    209|     22260|       2444|       2555|       8458| 202004|       17.0|              22|           66|
|    441|     22211|       3333|       3555|       8452| 202105|      35.74|              56|           80|
|    616|     22230|       3333|       3555|       8452| 202305|      20.86|              48|           72|
|    771|     22290|       6333|       6555|       7080| 202106|      41.88|              60|           62|
|   1008|     29951|       6222|       6555|       7001| 202007|      41.24|              67|           22|
|    779|     22290|       3333|       4555|       9875| 202106|      36.24|              53|           65|
|    787|     92260|       2444|       2555|       7083| 202106|       16.0|              13|           11|
|    970|     22212|       3333|       4555|       7554| 202007|      28.49|              26|           40|
|    978|     22222|       2333|       2555|       9880| 202007|      26.32|              16|           31|
|      6|     21151|       2222|       2555|       9883| 202003|      35.72|              67|           40|
|    218|     20051|       2222|       2555|       7079| 202104|      43.46|              13|           18|
|    303|     29951|       2222|       2555|       7098| 202304|      34.99|              56|           59|
|    515|     22130|       4444|       4555|       7546| 202205|      21.35|              11|           13|
|    699|     22290|       2333|       2555|       7092| 202006|      31.25|              52|           90|
|    777|     22290|       3333|       3555|       9881| 202106|      26.66|              34|           69|
|    980|     22230|       3333|       3555|       7075| 202007|      20.86|              29|           22|
|    643|     29951|       5222|       5555|       8455| 202305|      80.47|              15|           40|
|    398|     20051|       3222|       3555|       8464| 202105|      31.68|              43|           71|
|    521|     22211|       6333|       6555|       7080| 202205|      30.79|              55|           27|
+-------+----------+-----------+-----------+-----------+-------+-----------+----------------+-------------+
only showing top 20 rows

In [ ]:
dim_producto.toPandas().to_csv("/content/drive/MyDrive/Proyecto-Big-Data/dim_producto.csv", index=False)
dim_categoria.toPandas().to_csv("/content/drive/MyDrive/Proyecto-Big-Data/dim_categoria.csv", index=False)
dim_proveedor.toPandas().to_csv("/content/drive/MyDrive/Proyecto-Big-Data/dim_proveedor.csv", index=False)
dim_dimensiones.toPandas().to_csv("/content/drive/MyDrive/Proyecto-Big-Data/dim_dimensiones.csv", index=False)
fact_table.toPandas().to_csv("/content/drive/MyDrive/Proyecto-Big-Data/fact_table.csv", index=False)
dim_tiempo.toPandas().to_csv("/content/drive/MyDrive/Proyecto-Big-Data/dim_tiempo.csv", index=False)